@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 10列に分割 */
  overflow-x: auto;
  gap: 1rem;
  /* 各カード間の隙間 */
}

.card {
  /* カードのスタイル */
  border: 1px solid #ddd;
  padding: 1rem;
}

.search-form {
  display: flex;
  align-items: center;
  /* 中央揃え */
  gap: 1rem;
  /* 横方向のスペース（以前の space-x-4 に対応） */
  margin-bottom: 2rem;
  /* 下の余白（以前の mb-8 に対応） */
}

.search-input {
  max-width: 24rem;
  /* 以前の max-w-sm に対応 */
  width: 100%;
  /* 幅を100%に設定 */
}

.search-bar {
  display: flex;
  /* 検索フォーム全体の幅を70%に設定 */
  margin: 0 auto;
  /* 中央に配置 */
  gap: 10px;
  /* 各要素の間隔 */
}

.input-field {
  flex: 1;
  /* 入力フィールドを均等に広げる */
}

.search-button {
  flex: 0.2;
  /* 検索ボタンの幅を調整 */
  background-color: #ff6600;
  /* ボタンの背景色をオレンジに設定 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.outline {
  width: 70%;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}